@model IEnumerable<BitMe.Models.Item>

@{
    ViewBag.Title = "Index";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-right"> 
            @Html.ActionLink("Sell Product", "sellProduct", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-right">
            @Html.ActionLink("Edit Profile", "EditProfile", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>
<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageMimeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bidDeadline)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bidDeadline)
        </td>
        <td>
            @Html.ActionLink("Bid", "Bid", new { id=item.ProductID }) 
            
        </td>
    </tr>
}

</table>
