@model IEnumerable<BitMe.Models.Item>

@{
    ViewBag.Title = "Index";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-right">
            @Html.ActionLink("Sign out", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-right">
            @Html.ActionLink("Profile", "Profile", "Home", new { username = "joker" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-right"> 
            @Html.ActionLink("Sell Product", "addProduct", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-right">
            @Html.ActionLink("Edit Profile", "EditProfile", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>
<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pictureByte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bidDeadline)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pictureByte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bidDeadline)
           
        </td>
        <td>
            @Html.ActionLink("Bid", "Bid", new { id=item.ProductID }) 
            
        </td>
    </tr>
}

</table>
