@model BitMe.Models.User

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UAdress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile", new { /* id = Model.PrimaryKey */ id = Model.UName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
